In [82]:
import os
import pandas as pd
import sqlite3

import os
import pandas as pd
import sqlite3

class HolidaySQLconn:

    def __init__(self):
        self.hol_path = "./hols/"
        self.db_path = "./Calendar.db"
        self.col_name_list = ["year","month","date","holiday", "holiday_type", "country"]
        self.holiday_df = self.hols_to_df(self.col_name_list)
        self.create_hol_table()
        self.insert_hol_data()
                      

    def hols_to_df(self, col_name_list):
        # 將hol檔案轉成self.holiday_df: pd.dataframe
        holiday_df  = pd.DataFrame(columns=col_name_list)

        for file_name in os.listdir(self.hol_path):
            if ".hol" not in file_name:
                continue
            with open(self.hol_path+file_name, 'r', encoding='utf-16') as file:
                data = file.read()

            holiday_datas = data.split("\n")

            # holiday_datas[0] = [AUHQ_2023節日假期表] 21
            country_name = holiday_datas[0].split("_")[0].split("[")[1]

            for data in holiday_datas[1:]:
                # data = '開國紀念日(放假),2023/1/1'
                holiday_name = data.split(",")[0].split("(")[0]
                holiday_type = data.split(",")[0].split("(")[1].split(")")[0]

                time = data.split(",")[1]

                year = time.split("/")[0]
                month = time.split("/")[1]
                date = time.split("/")[2]

                holiday_df.loc[len(holiday_df )] = [year, month, date, holiday_name, holiday_type, country_name]
        
        return holiday_df
       

    def create_table_by_df_col(self, table_name, col_name):
        # 做一個table，pk為col_name
        create_table_cmd = \
            f'''CREATE TABLE {table_name}
                ({col_name} text PRIMARY KEY)'''
        
        #  執行create_country_table_cmd
        try:
            conn = sqlite3.connect(self.db_path)         
            c = conn.cursor()
            c.execute(create_table_cmd)
            conn.commit()
        
        except Exception as e:
            print(e)

        finally:
            conn.close()                   
        
    
    def insert_data_by_df_col(self, table_name, col_name):
        # 將self.holiday_df內的country_name資料，塞入country table
        unique_array = pd.unique(self.holiday_df[col_name]) # 取得所有不重複的country_name

        # 用迴圈執行update_country_table_cmd將country_array資料寫入country table
        for unique_value in unique_array:
            try:
                update_cmd = f"INSERT INTO {table_name} ({col_name}) VALUES ('{unique_value}')"
                conn = sqlite3.connect(self.db_path)        
                c = conn.cursor()
                c.execute(update_cmd)
                conn.commit()
            except Exception as e:
                print(e)
            finally:
                conn.close()
                
    def select_table_by_df_col(self, table_name):
        # 執行select指令，存入變數country_table，確認資料有塞進去
        select_cmd = f"SELECT * FROM {table_name}"
        
        try:
            conn = sqlite3.connect(self.db_path)        
            c = conn.cursor()
            table_data = c.execute(select_cmd).fetchall()
            
        except Exception as e:
            print(e)
            
        finally:
            conn.close()

        return table_data

    def create_hol_table(self):
        # 用self.holiday_df內的各col建立正規化的各table
        self.table_name_list = [ col_name+"_table" for col_name in self.col_name_list]
        for table_name, col_name in zip(self.table_name_list, self.col_name_list):
            self.create_table_by_df_col( table_name, col_name)
            self.insert_data_by_df_col( table_name, col_name)
            self.select_table_by_df_col( table_name)

        # 依self.holiday_df內的資料，以及前面正規化的各table，用fk建立table
        try:
            conn = sqlite3.connect(self.db_path)        
            c = conn.cursor()
            c.execute('''CREATE TABLE holiday
                    (Year text,
                    Month text,
                    Date text,
                    holiday_name text,
                    holiday_type text,
                    Country_name text,
                    PRIMARY KEY (Year, Month, Date, holiday_name, Country_name),
                    FOREIGN KEY (Year) REFERENCES year_table(year),
                    FOREIGN KEY (Month) REFERENCES month_table(month),
                    FOREIGN KEY (Date) REFERENCES date_table(date),
                    FOREIGN KEY (holiday_name) REFERENCES holiday_table(holiday),
                    FOREIGN KEY (Country_name) REFERENCES country_table(country))''')
            conn.commit()

        except Exception as e:
            print(e)
        
        finally:
            conn.close()

    def insert_hol_data(self):
        # 將self.holiday_df內的資料，塞入holiday table
        for index, row in self.holiday_df.iterrows():
            try:
                update_cmd = f"INSERT INTO holiday VALUES ('{row['year']}', '{row['month']}', '{row['date']}', '{row['holiday']}', '{row['holiday_type']}', '{row['country']}')"
                conn = sqlite3.connect(self.db_path)         
                c = conn.cursor()
                c.execute(update_cmd)
                conn.commit()
            except Exception as e:
                print(e)
            finally:
                conn.close()
    
    def select_hol_table(self, country=None, year=None, month=None):

        select_cmd = "SELECT * FROM holiday WHERE "

        # 依條件執行select指令，存入變數holiday_table，確認資料有塞進去
        if country is not None:
            country_conditions = [f"Country_name = '{c}'" for c in country]
            select_cmd += "(" + " OR ".join(country_conditions) + ")" + "  AND "

        if year is not None:
            year_conditions = [f"Year = '{y}'" for y in year]
            select_cmd += "(" + " OR ".join(year_conditions) + ")" + "  AND "

        if month is not None:
            month_conditions = [f"Month = '{m}'" for m in month]
            select_cmd += "(" + " OR ".join(month_conditions) + ")" + "  AND "


        # 若where或and結尾，則去除
        if "WHERE" or "AND" in select_cmd[-6:]:
            select_cmd = select_cmd[:-6]
        
        print(select_cmd)

        holiday_table = None

        try:
            conn = sqlite3.connect(self.db_path)         
            c = conn.cursor()
            holiday_table = c.execute(select_cmd).fetchall()
            print(holiday_table)
        
        except Exception as e:
            print(e)

        finally:
            conn.close()

        return holiday_table

In [83]:
conn_obj.holiday_df

    year month date office office_type country
0   2023     1    1     元旦          放假    AUCN
1   2023     1    2     元旦          放假    AUCN
2   2023     1   21   农历除夕          放假    AUCN
3   2023     1   22  春节年初一          放假    AUCN
4   2023     1   23  春节年初二          放假    AUCN
5   2023     1   24  春节年初三          放假    AUCN
6   2023     1   25  春节年初四          放假    AUCN
7   2023     1   26  春节年初五          放假    AUCN
8   2023     1   27  春节年初六          放假    AUCN
9   2023     1   28     春节          补班    AUCN
10  2023     1   29     春节          补班    AUCN
11  2023     4    5    清明节          放假    AUCN
12  2023     4   23    劳动节          补班    AUCN
13  2023     4   29    劳动节          放假    AUCN
14  2023     4   30    劳动节          放假    AUCN
15  2023     5    1    劳动节          放假    AUCN
16  2023     5    2    劳动节          放假    AUCN
17  2023     5    3    劳动节          放假    AUCN
18  2023     5    6    劳动节          补班    AUCN
19  2023     6   22    端午节          放假    AUCN
20  2023     6   23    端午节          放假    AUCN
21  2023     6   24    端午节          放假    AUCN
22  2023     6   25    端午节          补班    AUCN
23  2023     9   29    中秋节          放假    AUCN
24  2023     9   30    国庆节          放假    AUCN
25  2023    10    1    国庆节          放假    AUCN
26  2023    10    2    国庆节          放假    AUCN
27  2023    10    3    国庆节          放假    AUCN
28  2023    10    4    国庆节          放假    AUCN
29  2023    10    5    国庆节          放假    AUCN
30  2023    10    6    国庆节          放假    AUCN
31  2023    10    7    国庆节          补班    AUCN
32  2023    10    8    国庆节          补班    AUCN
33  2023     1    1  開國紀念日          放假    AUHQ
34  2023     1    2  開國紀念日          補假    AUHQ
35  2023     1   20   調整休假      公司請假1天    AUHQ
36  2023     1   21   農曆除夕          放假    AUHQ
37  2023     1   22  春節年初一          放假    AUHQ
38  2023     1   23  春節年初二          放假    AUHQ
39  2023     1   24  春節年初三          放假    AUHQ
40  2023     1   25  除夕及春節          補假    AUHQ
41  2023     1   26  除夕及春節          補假    AUHQ
42  2023     1   27   調整休假      公司請假1天    AUHQ
43  2023     2   27   調整休假      公司請假1天    AUHQ
44  2023     2   28  和平紀念日          放假    AUHQ
45  2023     4    3   調整休假      公司請假1天    AUHQ
46  2023     4    4    兒童節          放假    AUHQ
47  2023     4    5  民族掃墓節          放假    AUHQ
48  2023     5    1    勞動節          放假    AUHQ
49  2023     6   22    端午節          放假    AUHQ
50  2023     6   23   調整休假      公司請假1天    AUHQ
51  2023     9   29    中秋節          放假    AUHQ
52  2023    10    9   調整休假      公司請假1天    AUHQ
53  2023    10   10    國慶日          放假    AUHQ

In [84]:
if __name__ == '__main__':
    conn_obj = HolidaySQLconn()
    conn_obj.create_hol_table()
    conn_obj.insert_hol_data()
    # conn_obj.select_hol_table(year=[2023,2024], month=[2,3,4], country=["AUHQ","AUCN"])
    # conn_obj.select_table_by_df_col("holiday_type"+"_table")

table year_table already exists
UNIQUE constraint failed: year_table.year
table month_table already exists
UNIQUE constraint failed: month_table.month
UNIQUE constraint failed: month_table.month
UNIQUE constraint failed: month_table.month
UNIQUE constraint failed: month_table.month
UNIQUE constraint failed: month_table.month
UNIQUE constraint failed: month_table.month
UNIQUE constraint failed: month_table.month
table date_table already exists
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
table holiday_table already exists
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
table holiday_type_table already exists
UNIQUE constraint failed: holiday_type_table.holiday_type
UNIQUE constraint failed: holiday_type_table.holiday_type
UNIQUE constraint failed: holiday_type_table.holiday_type
UNIQUE constraint failed: holiday_type_table.holiday_type
table country_table already exists
UNIQUE constraint failed: country_table.country
UNIQUE constraint failed: country_table.country
table holiday already exists
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
table year_table already exists
UNIQUE constraint failed: year_table.year
table month_table already exists
UNIQUE constraint failed: month_table.month
UNIQUE constraint failed: month_table.month
UNIQUE constraint failed: month_table.month
UNIQUE constraint failed: month_table.month
UNIQUE constraint failed: month_table.month
UNIQUE constraint failed: month_table.month
UNIQUE constraint failed: month_table.month
table date_table already exists
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
UNIQUE constraint failed: date_table.date
table holiday_table already exists
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
UNIQUE constraint failed: holiday_table.holiday
table holiday_type_table already exists
UNIQUE constraint failed: holiday_type_table.holiday_type
UNIQUE constraint failed: holiday_type_table.holiday_type
UNIQUE constraint failed: holiday_type_table.holiday_type
UNIQUE constraint failed: holiday_type_table.holiday_type
table country_table already exists
UNIQUE constraint failed: country_table.country
UNIQUE constraint failed: country_table.country
table holiday already exists
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name
UNIQUE constraint failed: holiday.Year, holiday.Month, holiday.Date, holiday.holiday_name, holiday.Country_name

In [42]:
# class OfficeSQLconn:

#     def __init__(self):
#         self.db_path = "./Calendar.db"        
#         self.office_path = "全球辦公室時間資料列表.csv"
#         self.office_df = pd.read_csv(self.office_path, encoding='utf-8-sig')
#         self.col_name_list = self.office_df.columns

#     def create_table_by_df_col(self, table_name, col_name):
#         # 做一個table，pk為col_name
#         create_table_cmd  = \
#             f'''CREATE TABLE {table_name}
#                 ({col_name} text PRIMARY KEY)'''
        
#         #  執行create_country_table_cmd
#         try:
#             conn = sqlite3.connect(self.db_path)         
#             c = conn.cursor()
#             c.execute(create_table_cmd)
#             conn.commit()
        
#         except Exception as e:
#             print(e)

#         finally:
#             conn.close()                   
        
    
#     def insert_data_by_df_col(self, table_name, col_name):
#         # 將self.office_df內的country_name資料，塞入country table
#         unique_array = pd.unique(self.office_df[col_name]) # 取得所有不重複的country_name

#         # 用迴圈執行update_country_table_cmd將country_array資料寫入country table
#         for unique_value in unique_array:
#             try:
#                 update_cmd = f"INSERT INTO {table_name} ({col_name}) VALUES ('{unique_value}')"
#                 conn = sqlite3.connect(self.db_path)        
#                 c = conn.cursor()
#                 c.execute(update_cmd)
#                 conn.commit()
#             except Exception as e:
#                 print(e)
#             finally:
#                 conn.close()
                
#     def select_table_by_df_col(self, table_name):
#         # 執行select指令，存入變數country_table，確認資料有塞進去
#         select_cmd = f"SELECT * FROM {table_name}"
        
#         try:
#             conn = sqlite3.connect(self.db_path)        
#             c = conn.cursor()
#             table_data = c.execute(select_cmd).fetchall()
            
#         except Exception as e:
#             print(e)
            
#         finally:
#             conn.close()

#         return table_data

#     def create_office_table(self):
#         # 用self.office_df內的各col建立正規化的各table
#         self.table_name_list = [ col_name.replace("/", "") +"_table" for col_name in self.col_name_list]
#         print(self.table_name_list)
#         for table_name, col_name in zip(self.table_name_list, self.col_name_list):
#             self.create_table_by_df_col( table_name, col_name)
#             self.insert_data_by_df_col( table_name, col_name)
#             self.select_table_by_df_col( table_name)
#             print(self.select_table_by_df_col(table_name))

In [58]:
# if __name__ == '__main__':
#     conn_obj = OfficeSQLconn()
#     conn_obj.create_office_table()

In [86]:
class OfficeSQLconn:

    def __init__(self):
        self.db_path = "./Calendar.db"        
        self.office_path = "全球辦公室時間資料列表.csv"
        self.office_df = pd.read_csv(self.office_path, encoding='utf-8-sig')
        self.office_table_name = "office"
        self.office_df_to_sql()
    
    def office_df_to_sql(self):
        self.office_df.to_sql( self.office_table_name, sqlite3.connect(self.db_path), if_exists='replace', index=False)

    def check_office_table(self):
        select_cmd = f"SELECT * FROM {self.office_table_name}"
        
        try:
            conn = sqlite3.connect(self.db_path)        
            c = conn.cursor()
            table_data = c.execute(select_cmd).fetchall()
            
        except Exception as e:
            print(e)
            
        finally:
            conn.close()

        return table_data

In [87]:
if __name__ == '__main__':
    conn_obj = OfficeSQLconn()
    conn_obj.office_df_to_sql()
    table = conn_obj.check_office_table()

In [88]:
conn_obj.office_df

,公司,company,廠區辦公室,site,country,地址,lat,lng,IANA,時區,夏令時區,offset,offset_for_summer,工作時間start,工作時間end,Stretch_Time_start,Stretch_Time_end,休息時間_start,休息時間_end
0,友達,AUO,友達光電(總部),Headquarters,HQ,臺灣新竹市300091東區科學園區工業東三路1號(代表),24.774162,121.019544,Asia/Taipei,CST — China Standard Time,NaN,UTC/GMT +8 hours,NaN,08:00,17:00,07:30,23:00,23:00,07:00
1,友達,AUO,友達光電 (昆山),Kunshan,CN,"中國昆山經濟技術開發區龍騰路6號, 215300",31.388625,121.081931,Asia/Shanghai,CST — China Standard Time,NaN,UTC/GMT +8 hours,NaN,08:00,17:00,07:30,23:00,23:00,07:00
2,友達,AUO,友達光電 (蘇州),Suzhou,CN,"蘇州工業園區蘇虹中路398號, 215021",31.333195,120.703417,Asia/Shanghai,CST — China Standard Time,NaN,UTC/GMT +8 hours,NaN,08:00,17:00,07:30,23:00,23:00,07:00
3,友達,AUO,友達光電 (廈門),Xiamen,CN,"廈門火炬高新區(翔安)產業區翔安北路1689號, 361102",24.658726,118.213422,Asia/Shanghai,CST — China Standard Time,NaN,UTC/GMT +8 hours,NaN,08:00,17:00,07:30,23:00,23:00,07:00
4,友達,AUO,友達光電 (深圳),Shenzhen,CN,深圳市????田天安云谷二期11?2501室,22.661585,114.069646,Asia/Shanghai,CST — China Standard Time,NaN,UTC/GMT +8 hours,NaN,08:00,17:00,07:30,23:00,23:00,07:00
5,友達,AUO,友達光電 (東京),Tokyo,JP,"3-24-21 Sanwa Bld. 5F , Shiba, Minato-Ku, Toky...",35.651339,139.747519,Asia/Tokyo,JST — Japan Standard Time,NaN,UTC/GMT +9 hours,NaN,08:30,17:30,08:00,23:00,23:00,07:00
6,友達,AUO,友達光電 (大阪),Osaka,JP,Shin-Osaka 3rd DOI Bld. 5F 1-8-24 Nishimiyahar...,34.733603,135.492477,Asia/Tokyo,JST — Japan Standard Time,NaN,UTC/GMT +9 hours,NaN,08:30,17:30,08:00,23:00,23:00,07:00
7,友達,AUO,友達光電 (韓國),Korea,KR,"No.906, 9F, Gwanggyo Business Center, 156, Gwa...",37.293959,127.049320,Asia/Seoul,KST — Korea Standard Time,NaN,UTC/GMT +9 hours,NaN,09:30,18:30,09:00,23:00,23:00,07:00
8,友達,AUO,友達光電 (新加坡),Singapore,ST,"10 Tampines Industrial Avenue 3, Singapore 528798",1.360735,103.929698,Asia/Singapore,SST — Singapore Standard Time,NaN,UTC/GMT +8 hours,NaN,08:30,18:00,08:00,23:00,23:00,07:00
9,友達,AUO,友達光電 (美國),United States,US,"37085 Grand River Ave, Suite 340, Farmington, ...",42.468267,-83.414223,America/Detroit,EST — Eastern Standard Time,EDT — Eastern Daylight Time,UTC/GMT -5 hours,UTC/GMT -6 hours,09:00,18:00,08:30,23:00,23:00,07:00
10,友達,AUO,友達光電 (德國),Germany,DE,"Charles Lindbergh Strasse 7, Boeblingen, 71034...",48.689594,9.003747,Europe/Berlin,CET — Central European Time,CEST — Central European Summer Time,UTC/GMT +1 hours,UTC/GMT +2 hours,08:30,17:30,08:00,23:00,23:00,07:00
11,友達,AUO,友達光電 (荷蘭)?,Netherlands,NL,"Zekeringstraat 39,1014BV Amsterdam, The Nether...",52.396409,4.850351,Europe/Amsterdam,CET — Central European Time,CEST — Central European Summer Time,UTC/GMT +1 hours,UTC/GMT +2 hours,08:30,17:30,08:00,23:00,23:00,07:00
12,友達,AUO,友達光電 (斯洛伐克),Slovakia,SK,"Bratislavska 517, 911 05 Trencin , Slovak Repu...",48.886124,17.995608,Europe/Bratislava,CET — Central European Time,CEST — Central European Summer Time,UTC/GMT +1 hours,UTC/GMT +2 hours,08:00,16:30,07:30,23:00,23:00,07:00
13,達擎,ADP,達擎(總部),Headquarters,HQ,30075臺灣新竹科學園區新竹市東區工業東三路1號,24.774162,121.019544,Asia/Taipei,CST — China Standard Time,NaN,UTC/GMT +8 hours,NaN,08:00,17:00,07:30,23:00,23:00,07:00
14,達擎,ADP,達擎(波士頓),Boston,US,"35 Corporate Drive, Suite 170, Burlington, MA ...",42.493849,-71.189753,America/New_York,EST — Eastern Standard Time,EDT — Eastern Daylight Time,UTC/GMT -5 hours,UTC/GMT -4 hours,09:00,18:00,08:30,23:00,23:00,07:00
15,達擎,ADP,達擎(爾灣),Irvine,US,"8915 Research Drive, Suite 100, Irvine, CA 926...",33.643035,-117.736376,America/Los_Angeles,PST — Pacific Standard Time,PDT — Pacific Daylight Time,UTC/GMT -8 hours,UTC/GMT -7 hours,09:00,18:00,08:30,23:00,23:00,07:00
16,達擎,ADP,達擎(荷蘭),Netherlands,NL,"Zekeringstraat 39,1014BV Amsterdam, The Nether...",52.396409,4.850351,Europe/Amsterdam,CET — Central European Time,CEST — Central European Summer Time,UTC/GMT +1 hours,UTC/GMT +2 hours,08:30,17:30,08:00,23:00,23:00,07:00
17,達擎,ADP,達擎(東京),Tokyo,JP,"Sanwa Bld. 5F, 3-24-21 Shiba, Minato-Ku, Tokyo...",35.651339,139.747519,Asia/Tokyo,JST — Japan Standard Time,NaN,UTC/GMT +9 hours,NaN,08:30,17:30,08:00,23:00,23:00,07:00
18,達擎,ADP,達擎(大阪),Osaka,JP,Shin-Osaka 3rd DOI Bld. 5F 1-8-24 Nishimiyahar...,34.733603,135.492477,Asia/Tokyo,JST — Japan Standard Time,NaN,UTC/GMT +9 hours,NaN,08:30,17:30,08:00,23:00,23:00,07:00
19,達擎,ADP,達擎(蘇州),Suzhou,CN,?州工????虹中路398?,31.333195,120.703417,Asia/Shanghai,CST — China Standard Time,NaN,UTC/GMT +8 hours,NaN,08:00,17:00,07:30,23:00,23:00,07:00
20,達擎,ADP,達擎(深圳),Shenzhen,CN,深圳市????田街道??社?天安云谷???二期（02-08地?）11?2501室,22.661585,114.069646,Asia/Shanghai,CST — China Standard Time,NaN,UTC/GMT +8 hours,NaN,08:00,17:00,07:30,23:00,23:00,07:00

In [53]:
conn_obj.df_to_sql()